.slider {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(50%);
  transition: all 0.5s ease;
}

@media screen and (min-width: 600px) {
  .slide img {
    width: 100%;
    height: 100%;
  }
}

.slide img {
  // width: 100%;
  height: 100%;
}

.current {
  opacity: 1;
  transform: translateX(0);
}

.arrowDiv {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .arrowDiv {
    margin-bottom: 25px;
    justify-content: center;
  }
}

.arrow {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  z-index: 999;
}

.arrow:hover {
  color: #FFFFFF;
}

.next {
  margin-left: 20px;
}

.prev {
  margin-left: 60px;
}

.imageNav {
  z-index: 999;
  margin-left: 15px;
  color: #fff;
  opacity: 0.3;
  cursor: pointer;
}

.selected {
  color: #fff;
  opacity: 1;
}

hr {
  position: absolute;
  height: 1px;
  background: #FFFFFF;
  opacity: 0.3;
  width: 100%;
  z-index: 900;
}